@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<div id="container">
    <div id="results">
        <h1>Menu</h1>
        <h2>Combos</h2>
        @foreach (var item in Model.list)
        {
            if (item is CretaceousCombo combo)
            {
                <div class="menu-item">
                    <h3>@combo.ToString()</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>@Size.Small.ToString()</td>
                            <td>@($"{combo.Price:C}")</td>
                            <td>@combo.Calories</td>
                        </tr>
                        <@(combo.Size=Size.Medium) />
                        <tr>
                            <td>@Size.Medium.ToString()</td>
                            <td>@($"{combo.Price:C}")</td>
                            <td>@combo.Calories</td>
                        </tr>
                        <@(combo.Size=Size.Large) />
                        <tr>
                            <td>@Size.Large.ToString()</td>
                            <td>@($"{combo.Price:C}")</td>
                            <td>@combo.Calories</td>
                        </tr>
                    </table>

                    <p style="margin-left: 40px">
                        Ingredients:
                        <ul>
                            @foreach (var ingredient in combo.Ingredients)
                            {
                                <li style="margin-left: 40px">@ingredient</li>
                            }
                        </ul>
                    </p>
                </div>
            }
        }

        <h2>Entrees</h2>
        @foreach (var item in Model.list)
        {
            if (item is Entree entree)
            {

                <div class="menu-item">
                    <h3>@entree.ToString(): </h3>
                    <p style="margin-left: 40px">
                        Price: $@entree.Price<br />
                        Calories: @entree.Calories<br />
                        Ingredients:
                        <ul>
                            @foreach (var ingredient in entree.Ingredients)
                            {
                                <li style="margin-left: 40px">@ingredient</li>
                            }
                        </ul>
                    </p>
                </div>
            }
        }

        <h2>Sides</h2>
        @foreach (var item in Model.list)
        {
            if (item is Side side)
            {
                <div class="menu-item">
                    <h3>@side.ToString()</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>@Size.Small.ToString()</td>
                            <td>@($"{side.Price:C}")</td>
                            <td>@side.Calories</td>
                        </tr>
                        <@(side.Size=Size.Medium) />
                        <tr>
                            <td>@Size.Medium.ToString()</td>
                            <td>@($"{side.Price:C}")</td>
                            <td>@side.Calories</td>
                        </tr>
                        <@(side.Size=Size.Large) />
                        <tr>
                            <td>@Size.Large.ToString()</td>
                            <td>@($"{side.Price:C}")</td>
                            <td>@side.Calories</td>
                        </tr>
                    </table>

                    <p style="margin-left: 40px">
                        Ingredients:
                        <ul>
                            @foreach (var ingredient in side.Ingredients)
                            {
                                <li style="margin-left: 40px">@ingredient</li>
                            }
                        </ul>
                    </p>
                </div>
            }

        }

        <h2>Drinks</h2>
        @foreach (var item in Model.list)
        {
            if (item is Drink drink)
            {

                <div class="menu-item">
                    <h3>@drink.ToString()</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>@Size.Small.ToString()</td>
                            <td>@($"{drink.Price:C}")</td>
                            <td>@drink.Calories</td>
                        </tr>
                        <@(drink.Size=Size.Medium) />
                        <tr>
                            <td>@Size.Medium.ToString()</td>
                            <td>@($"{drink.Price:C}")</td>
                            <td>@drink.Calories</td>
                        </tr>
                        <@(drink.Size=Size.Large) />
                        <tr>
                            <td>@Size.Large.ToString()</td>
                            <td>@($"{drink.Price:C}")</td>
                            <td>@drink.Calories</td>
                        </tr>
                    </table>

                    <p style="margin-left: 40px">
                        Ingredients:
                        <ul>
                            @foreach (var ingredient in drink.Ingredients)
                            {
                                <li style="margin-left: 40px">@ingredient</li>
                            }
                        </ul>
                    </p>
                </div>
            }
        }
    </div>

    <form method="post">
        <div>
            <input type="text" name="search" value="@Model.search" />
            <input type="submit" value="Search" />
        </div>
        <input type="submit" name="filter" id="filter" value="Apply Filters" />

        <h4>Menu Category</h4>
        <div id="category">
            <label>
                <input class="menu-category" type="checkbox" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input class="menu-category" type="checkbox" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input class="menu-category" type="checkbox" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <label>
                <input class="menu-category" type="checkbox" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
        </div>

        <h4>Price</h4>
        <div id="price">
            <label>
                Min
                <input type="number" min="0" max="10" step="0.01" name="minPrice" placeholder="$0.00" value="@Model.minPrice" />
            </label>
            <label>
                Max
                <input type="number" min="0" max="10" step="0.01" name="maxPrice" placeholder="$0.00" value="@Model.maxPrice" />
            </label>
        </div>

        <h4>Excluding Ingredients</h4>
        <div class="exclude-ingredient">
            @foreach (string ingredient in Model.PossibleIngredients)
            {
                <label>
                    <input type="checkbox" name="ingredients" value="@ingredient" checked="@Model.ingredients.Contains(ingredient)" style="margin-bottom: 5px" />
                    @ingredient
                </label>
            }
        </div>
    </form>
</div>

